<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="bread"><span><a href="index.html">Home</a></span> / <span>About</span></p>
      </div>
    </div>
  </div>
</div>



    <div class="row row-pb-lg">
      <div class="col-sm-6 mb-3">

        <div class="icerik">
          <div class="resim-container">
            <img src="assets/images/logo1.png" class="resim">              
          </div>
          <div class="yazi-container">
            <span class="yazi" align="center">
              Teklif aldığın hizmet verenlerin kalitesini daha önceki işlerinde aldıkları gerçek müşteri yorumları sayesinde görür, güvenle kararını verirsin.Teklif aldığın hizmet verenlerin kalitesini daha önceki işlerinde aldıkları gerçek müşteri yorumları sayesinde görür, güvenle kararını verirsin.
            </span>
          </div>
        </div>      

      </div>

