<div id="content-wrapper" style="margin-top: 200px;">
    <div class="column">
        <img id=featured src="assets/images/supurge.jpg">
    </div>
    <div class="column">
        <h1>Awesome Shoes</h1>
        <hr>
        <h3>$89.99</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
</div>
