<div id="content-wrapper" style="margin-top: 200px;">
    <div class="column">
        <img id=featured src="https://cdn.shopify.com/s/files/1/0082/3666/2902/files/2_bd8e9c79-f8f1-4224-9aa4-a1cc8b7ff052.png?v=1653381521">
    </div>
    <div class="column">
        <h1>Awesome Shoes</h1>
        <hr>
        <h3>$89.99</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
</div>